@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  .navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    
    
  
  }
  
  #navbar__logo{
    font-family: 'VT323', monospace;
    background-image: linear-gradient(to top,#12c2e9 0%, #c471ed 20%, #f64f59 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 4.2rem;
    
  
    
  
  }
  

  .donut-container{
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0px;
    top: 0px;
    position: absolute;        
    background: #000;
    min-height:100%;
    background:url(/img/hack.gif) rgb(189, 4, 127);
    
    background-blend-mode: multiply;
  
  }
  
  .donut-img{
      width: 25%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
      
  }
